div{
    border: 5px black;
    border-radius: 5px;
}

#header{
    margin: -10px 5px 0 -5px ;
    padding: 5px;
    background-color:#007399;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 40px;
    position:fixed;
    z-index:1;
    width: 97.5%;
    height:120px;
    border: solid;
}

#name{
    float:left;
    font-family: "Brush Script MT", cursive;
    font-size:90px;
    margin-top:-10px;
    margin-left: 100;
}

#email{
    float:right;
    margin-top:-10px;
	margin-right: 5px;
	color:#ff8080;
}

.right{
    float:right;
    height:1000;
    width:90%;
    position:relative;
	top:80px;
    background-color:#b3ffb3;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:17;
    padding:50px;
  
}

.left{
    float:left;
    background-color: #4dc6ff;
    height:1000;
    width:100;
}

#footer{
    padding: 50px;
    background-color:#007399;
    position:relative;
    border: solid;
    top: 150px;
    display:block;
    clear:both;
    bottom:50px;
    font-size:18;
}

#leftTopAddress{
	position:absolute;
	top:0;
}

#leftAddress{
	position:absolute;
}
